@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), url(../fonts/Lato-300.woff) format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(../fonts/Lato-400.woff) format('woff');
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
i{
font-style:italic;
}
b{
font-weight:400;
}
a{
text-decoration:none;
color:#BF0B1A;
}
a:hover{
color:#aaa;
}
html, body{
font-family:Lato,Calibri,Helvetica,Arial,Thaoma,Verdana,sans-serif;
color:#ffffff;
font-size:16px;
background:#BF0B1A;
}
#header, #navigation, #content, #footer{
float:left;
width:100%;
box-sizing:border-box;
-moz-box-sizing:border-box;
-webkit-box-sizing:border-box;
padding:30px 25px;
}
#header{
padding-bottom:15px;
background:#ffffff;
}
#header #logo{
font-weight:300;
font-size:43px;
color:#444444;
}
#navigation{
padding-top:0;
padding-bottom:0;
background:#ffffff;
}
#navigation a{
float:left;
width:auto;
padding:10px 35px;
font-size:25px;
background:#ffffff;
color:#777;
font-weight:300;
border:1px solid #777;
border-bottom:none;
margin-left:2px;
margin-top:10px;
}
#navigation a.current, #navigation a:hover{
margin-top:0;
padding:15px 35px;
color:#ffffff;
border-color:#BF0B1A;
background:#BF0B1A;
}
#content{

}
#footer{
position:fixed;
bottom:0;
right:0;
background:#ffffff;
color:#444444;
font-size:13px;
background:#ffffff;
padding:3px 5px;
border-radius:5px 0 0 0;
float:right;
width:auto;
}
h1, h2, h3, h4, h5, h6{
font-size:45px;
font-weight:300;
margin-bottom:25px;
}
h2{
font-size:40px;
}
h3{
font-size:36px;
}
h4{
font-size:32px;
}
h5{
font-size:28px;
}
h6{
font-size:24px;
}
.confirmMessage, .errorMessage{
background:rgba(255, 255, 255, 0.4);
color:#ffffff;
padding:7px 10px;
font-size:20px;
font-weight:300;
margin:5px 0;
border-radius:5px;
}
.errorMessage{
background:#B7252C;
}