* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	font-size: 11.5pt;
	color: #5C5B5B;
	line-height: 1em;
	background: #E0DCDC;
	font-family: Georgia, serif;
}
a:hover {
	text-decoration: none;
}
a {
	text-decoration: underline;
}
br.clearfix {
	clear: both;
}

h1,h2,h3,h4 {
	font-weight: normal;
	letter-spacing: -1px;
}
h2,h3,h4 {
	color: #2C2B2B;
	margin-bottom: 1em;
}
h2 {
	font-size: 2.25em;
}
h3 {
	font-size: 1.75em;
}
h4 {
	font-size: 1.5em;
}
p {
	margin-bottom: 1.5em;
}
ul {
	margin-bottom: 1.5em;
}
ul h4 {
	margin-bottom: 0.35em;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
i{
	font-style:italic;
}
b{
	font-weight:400;
}
#wrapper {
	position: relative;
	max-width: 1300px;
	margin: 1px auto 0 auto;
	background: #FFFFFF;
	border-radius: 0 0 6px 6px;
	box-shadow: 0 5px 20px 2px rgba(0,0,0,0.1);
}
#header {
	background: #000000;
	padding: 40px;
	color: #FFFFFF;
	border: solid 1px #333333;
	border-bottom: none;
	overflow: hidden;
}
#logo {
	left: 45px;
	font-size: 2.8em;
}
#logo img {
	width: 70px;
	position: relative;
	top: 5px;
}
#slogan {
	line-height: 160px;
	height: 160px;
	padding: 5px 0 0 0;
	position: absolute;
	right: 45px;
	top: 0;
}
#footer {
	margin: 20px 0 20px 0;
	text-align: center;
	color: #8C8B8B;
	text-shadow: 0 1px 0 #FFFFFF;
}
#footer a {
	color: #8C8B8B;
}
#navigation {
	padding: 0 45px 0 45px;
	background-image:linear-gradient(#000000, #6C6C6C);
	margin: 0;
	border: solid 1px #333333;
	border-top: none;
	letter-spacing: -1px;
	font-size: 1.25em;
	height: 35px;
}
#navigation a {
	float:left;
	padding: 10px 10px 10px 10px;
	border-right : dotted 1px black;
	border-left : dotted 1px black;
	text-decoration: none;
	color: #FFFFFF;
}
#navigation a.current, #navigation a:hover {
	background: #333333;
	border-radius: 3px 3px 0 0;
}
#content{
	padding: 15px;
	overflow: visible;
}
#page-bottom{
	background: #000000;
	padding: 10px;
	color: #FFFFFF;
	border: solid 1px #333333;
	border-top: none;
	overflow: hidden;
}
#albumsContainer {
	display: inline-block;
	width: 20%;
	vertical-align: top;
}
.albums {
	margin: 0px;
	padding: 10px;
	border: solid #5C5B5B 1px;
}
.albums li {
	list-style: none;
	margin-bottom: 5px;
	font-size: 20px;

}
.albums .toggleArrow:hover {
	cursor: pointer;
}
.albums a {
	text-decoration: none;
}
.albums a:link {
    color: black;
}
.albums a:visited {
    color: black;
}
.albums a:hover {
	color: red;
}
.albums .active {
    color: red !important;
}
.albums img {
	height: 15px;
	margin-right: 5px;
}
.childAlbums {
	margin: 5px 0px 0px 25px;
	min-height: 5px;
}
#albumView {
	display: inline-block;
	width: 80%;
}
#upload {
	margin-left: 10px;
}
.thumbnail {
	margin: 10px;
	display: inline-block;
	height: 100px;
	width: 100px;
	border: solid 1px black;
	vertical-align: middle;
	text-align: center;
}
.thumbnail:hover {
	border-color: red;
}
.thumbnail .center_img {
	vertical-align: middle;
	display: inline-block;
	height: 100%;
}
.thumbnail img {
	vertical-align: middle;
}
#picView {
	display: block;
	margin-left: auto;
	margin-right: auto;
	border: solid 1px #D4D4D4;
	max-width: 100%;
}
.confirmMessage, .errorMessage{
	background:#87A644;
	color:#ffffff;
	padding:7px 10px;
	font-weight:300;
	margin:5px 0;
	border-radius:5px;
}
.errorMessage{
	background:#B7252C;
}

form .row {
	margin-bottom: 10px;
	font-size: 20px;
}

form .row label {
	display: inline-block;
	width: 20%;
	vertical-align: top;
	padding: 5px;
}

form .row p {
	display: inline-block;
}

form .row select, form .row textarea, form .row input {
	border: solid #5C5B5B 1px;
	padding: 5px;
}

form .row .mce-tinymce {
	display: inline-block;
	width: 78%;
}

form .row .submit, form .row .cancel {
	border: solid #5C5B5B 1px;
	padding: 5px;
}

form .row .submit:hover, form .row .cancel:hover {
	cursor: pointer;
}
@media screen and (max-width: 500px){
	body{
		font-size: 70%;
	}
	#header {
		padding: 10px;
	}
	#slogan {
		line-height: normal;
		height: auto;
		padding: 5px 0 0 0;
		position: relative;
		left: 10px;
	}
	#navigation {
		padding: 0px;
	}
	#navigation a {
		padding: 10px;
	}
	#content{
		padding: 5px;
	}
}

form.ordering_menu{
    display: inline-block;
    float: right
}

form.view_menu{
    display: inline-block;
}

a.view_menu_option{
    -webkit-border-radius: 3;
    -moz-border-radius: 3;
    border-radius: 3px;
    color: #ffffff;
    font-size: 13px;
    text-decoration: none;
    background: #242424;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

form.field_order_menu{
    display: inline-block;
}

div.ordering_menu_container{
    display: block;
    clear: both;
    float: left;
    width: 100%
}

.field_order_option, .ordering_option {
	-webkit-border-radius: 3;
	-moz-border-radius: 3;
	border-radius: 3px;
	color: #ffffff;
	font-size: 13px;
    text-decoration: none;
	background: #242424;
	padding: 10px 20px 10px 20px;
	text-decoration: none;
}
.field_order_option.checked, .ordering_option.checked {
    background: #8a8a8a;
    border: solid #000000 2px;
}

.field_order_option:hover, .ordering_option:hover {
	background: #6b6b6b;
	text-decoration: none;
}

.hidden {
    display: none;
}


div.container
{
	position:fixed;
	padding:0;
	margin:0;
	background: #000000;
	height:100%;
	width:100%;
}

div.slideshow{
	height:100%;
	width:100%;
	margin:auto;
	text-align:center;
    vertical-align: middle;
}


img.slideshow
{
    position: absolute;
    max-height: 100%;
    max-width: 100%;
}

img.slideshow:empty
{
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

@media screen and (orientation: portrait) {
    img.slideshow {
        max-height: 100%;
        max-width: 100%;
    }
}

@media screen and (orientation: landscape) {
    img.slideshow {
        max-height: 100%;
        max-width: 100%;
    }
}


img.command_icon{
	height: 100%;
}

div.slideshow_commands {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 5%;
	background-color:rgba(0,0,0,0.3);
	margin:auto;
	text-align:center;
	color:#FFFFFF;
}

